.widget {
    a:hover, a:active {
        text-decoration: none;
    }
    &[class*='col-'] {
        padding-left:0;
        padding-right:0;
    }
}

.widget-body {
    padding: 10px;
    position: relative;
    border: 3px solid #fff;
    background: #ffffff;
    width: 100%;
    > .widget-content {
        height:100%;
    }
    .widget-title {
        font-size: 1.2em;
        font-weight: 100;
    }
    img {
        max-height: 100%;
        width: auto;
        height: auto;
        max-width: 100%;
        margin: auto;
    }
}

.widget-icon {
    font-size: 4em;
    display: block;
}

.widget-header {
    flex-basis: 100%;
    width: 100%;
}

.widget-option {
    cursor: pointer;
    .widget-body {
        border: 3px solid transparent;
    }
}

.widget-option-fixed-height {
    height: 100px;
}

.row .widget {
    flex-grow: 1;
    @media(max-width: 600px) {
        width: 100%;
    }
}

.dark.widget-body {
    background-color: #383b3f;
}

.widget-row {
    align-items: stretch;
    align-content: stretch;
}

.widget-list-item {
    padding: 10px;
    width: 100%;
    height: 100%;
    .widget-body {
        height: 100%;
    }
}

